<?xml version="1.0"?>
<launch>

  <!-- urdf description -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder $(find dualarm_mobile_description)/urdf/robot.urdf.xacro"/>
  <param name="robot_description" command="$(arg urdf_file)"/>

  <!-- Sensors -->
  <include file="$(find mobile_bringup_mservo)/launch/sensor.launch" />
  
  <!-- TF and Odometry -->
  <node pkg="mobile_bringup" type="odom_publisher_mservo" name="odom_node"/>
  <node pkg="mobile_bringup" type="bringup_publisher_mservo" name="tf_node"/>
    
</launch>
